    .active {
      background-color: #1db740;
      color: white;
    }
    .answer_button {
      width: 300px;
      margin: 15px;
    }

    #container {
      padding: 15px;
    }
    #outer_progress {
      background-color: #ddd;
      margin: 15px;
      width: 300px;
    }

    #inner_progress {
      width: 0%;
      height: 30px;
      background-color: #4CAF50;
    }

    #primary-button{
      margin: 15px;
    }

    #main_button_container {
      text-align: center;
    }

    @media only screen and (min-width: 768px) {
      #main_button_container {
        text-align: left;
      }
      #outer_progress {
        width: 630px;
      }
      #primary-button {

      }
    }
